@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import "general_style.css";
:root {
  --color-main: #8e3922;
  --color-main-light: #8e3922;
  --color-dark: #c0bea9;
  --color-dark-medium: #c0bea9;
  --color-dark-light: #76765b;
  --color-light: #8e3922;
  --color-gray: #8b8b8b;
  --color-light-gray: #8e3922;
  --color-bg: #d2d2c6;
  --color-success: #5dd693;
  --color-error: #fc4b0b;
  --color-search-bar: #ffffff;
  --color-navbar: #c0bea9;
}

/*========== base styles ==========*/

