{% extends "base/base.html" %}

{% block content %}

<section class="jumbotron text-center bg-white">
    <div class="container__fav">
        <h1>{{offer_count}} Offers Available In Favorites</h1>
    </div>
</section>
<main class="layout layout--3">
    <div class="container">
        {% include "offer/categories_component.html" %}
        <div class="roomList">
            {% include 'offer/feed_component.html' %}
        </div>
        {% include 'offer/activity_component.html' %}
    </div>
</main>
{% endblock %}