{% extends 'base/base.html' %}

{% block content %}
<main class="profile-page layout layout--3">
  <div class="container">
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="{{user.avatar.url}}" />
          </div>
        </div>
        <div class="profile__info">
          <p>{{user.username}}</p>
          {% if request.user == user %}
          <a href="{% url 'update-profile' %}" class="btn btn--main btn--pill">Edit Profile</a>
          {% endif %}
          <p>{{user.email}}</p>

        </div>
        
        <div class="profile__about">
          <h3>About</h3>
          <p>
            {{user.bio}}
          </p>
        </div>
      </div>

    </div>

  </div>
</main>
{% endblock content %}