{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<main class="profile-page layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    {% include 'offer/categories_component.html' %}
    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="{{user.avatar.url}}" />
          </div>
        </div>
        <div class="profile__info">
          {% if request.user == user %}
          <a href="{% url 'update-profile' %}" class="btn btn--main btn--pill">Edit Profile</a>
          <a href="{% url 'update-address' %}" class="btn btn--main btn--pill">Add Address</a>
          {% endif %}

          <br/>
          <h3>{{user.username}}</h3>
        </div>
        <div class="profile__about">
          <h3>Email</h3>
          <p>
            {{user.email}}
          </p>
        </div>
        <div class="profile__about">
          <h3>About</h3>
          <p>
            {{user.bio}}
          </p>
        </div>
        {% if user.address %}
        <div class="profile__about" id="user_address">
          <h3>Address</h3>
          <div id="map"></div>
          <p>
            {{user.address}}
          </p>
        </div>
        {% endif %}
      </div>

      <div class="roomList__header">
        <div>
          <h2>Offers made by {{user.username}}</h2>
        </div>
      </div>
      {% include 'offer/feed_component.html' %}


    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'offer/activity_component.html' %}
    <!-- Activities End -->
  </div>
</main>
<script type="text/javascript">

    var google_api_key = "{{google_api_key|safe}}";
    var user ="{{user}}"

  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="{% static 'js/google_maps.js' %}"></script>

{% endblock content %}