#VSCode
.vscode/**
!.vscode/extensions.json

# Virtual Environment
/venv

# Django
**/__pycache__

# React
**/frontend/static/**
!**/frontend/static/css
!**/frontend/static/frontend
!**/frontend/static/images

# npm
**/node_modules