# Backend framework
# Docs: https://docs.djangoproject.com/en/4.0/contents/
django == 4.0.*

# Allowing working with images
# Docs: https://pillow.readthedocs.io/en/stable/
Pillow >= 9.1

# Allow to format Python file automatically
# Docs: https://pypi.org/project/autopep8/
autopep8

# embedding google reCAPTCHA
django-recaptcha

numpy

pandas

scipy


