<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if request.user.is_dark_mode or not request.user.is_authenticated%}
        <link rel="shortcut icon" href="{% static 'base/images/dark_mode_logo.png' %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'styles/dark_mode.css' %}" />
    {% else %}
        <link rel="shortcut icon" href="{% static 'base/images/light_mode_logo.png' %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'styles/light_mode.css' %}" />
    {% endif %}

    <title>I/O Store</title>
</head>

<body>

    {% include 'base/navigation.html' %}

    {% block content %}


    {% endblock %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script> {% endcomment %}
    <script src="{% static 'js/script.js' %}"></script>
    
</body>

</html>