<div class='wrapper'>
    <div class="activities">
        <div class="activities__header">
            <h2>Offers to be delivered</h2>
        </div>
        {% for offer in offers_to_be_delivered_and_received %}
            {%if request.user == offer.final_bid.bidder%}
                <div class="activities__box">
                    <div class="activities__boxHeader roomListRoom__header">
                        <a href="{% url 'users-profile' offer.host.username %}" class="roomListRoom__author">
                            <div class="avatar avatar--small">
                                <img src="{{offer.host.avatar.url}}" />
                            </div> 
                            <p>{{offer.host.username}}'s Offer</p>    
                        </a>
                            
                    </div>
                    <div class="activities__boxContent">
                        <p>
                            Your bid on their offer 
                            <a href="{% url 'offer' offer.id %}">{{offer}}</a>
                            needs to be delivered on {{offer.final_bid.time_of_delivery}}
                        </p>
                    </div>
                </div>
            {%endif%}
        {% endfor %}

    </div>
    <div class="activities">
        <div class="activities__header">
            <h2>Offers to be recieved</h2>
        </div>
        
        {% for offer in offers_to_be_delivered_and_received %}
            {%if request.user == offer.host%}

                <div class="activities__box">
                    <div class="activities__boxHeader roomListRoom__header">
                        <a href="{% url 'users-profile' request.user.username %}" class="roomListRoom__author">
                            <div class="avatar avatar--small">
                                <img src="{{request.user.avatar.url}}" />
                            </div> 
                            <p>{{request.user.username}}</p>    
                        </a>
                    </div>
                    <div class="activities__boxContent">
                        <p>
                            <a href="{% url 'users-profile' offer.final_bid.bidder.username %}">{{offer.final_bid.bidder.username}}'s</a>
                            bid on your offer <a href="{% url 'offer' offer.id %}">{{offer}}</a>
                            needs to be received on {{offer.final_bid.time_of_delivery}}
                        </p>
                    </div>
                </div>
            {%endif%}
        {% endfor %}
    
    </div>
</div>