{% extends 'base/base.html' %}
{% block content %}

<main class="layout layout--3">
  <div class="container">
    {% if flag == 3 %}
    {%else%}
      {% include 'offer/categories_component.html' %}
    {%endif%}
    <div class="roomList" >
      <div class="roomList__header" id='divr'>

        <a class="btn btn--main" href="{% url 'feed-home' %}?q=recommended">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
          width="910.000000pt" height="1280.000000pt" viewBox="0 0 910.000000 1280.000000"
          preserveAspectRatio="xMidYMid meet">
         <metadata>
         Created by potrace 1.15, written by Peter Selinger 2001-2017
         </metadata>
         <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)"
         fill="#000000" stroke="none">
         <path d="M3360 12790 c0 -5 -21 -145 -46 -312 -263 -1749 -693 -2985 -1437
         -4138 -132 -204 -293 -431 -601 -850 -531 -718 -654 -907 -840 -1280 -226
         -454 -346 -864 -412 -1410 -22 -180 -25 -646 -5 -820 110 -972 534 -1831 1312
         -2660 512 -546 1321 -1127 1795 -1289 l91 -31 392 0 c215 0 391 3 391 6 0 3
         -118 146 -263 317 -318 377 -424 512 -566 722 -361 532 -582 1003 -676 1440
         -47 219 -56 398 -29 600 56 433 171 683 560 1210 77 105 223 303 325 440 309
         418 464 648 666 990 300 507 562 1065 773 1645 29 80 57 149 61 154 9 10 190
         -155 462 -424 752 -740 1092 -1299 1307 -2144 94 -371 114 -517 114 -826 -1
         -471 -76 -951 -255 -1624 -177 -668 -401 -1300 -759 -2139 -82 -194 -150 -356
         -150 -360 0 -4 116 -7 257 -7 l257 0 201 152 c858 651 1419 1222 1882 1918
         531 798 828 1631 915 2565 19 203 16 736 -6 945 -117 1154 -533 2233 -1297
         3371 -873 1300 -2145 2535 -3834 3722 l-180 127 -202 0 c-124 0 -203 -4 -203
         -10z"/>
         </g>
         </svg>
          Recommended
        </a>
        <a class="btn btn--main" id="near_me" href="{% url 'feed-home' %}?q=near_me">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
          width="910.000000pt" height="1280.000000pt" viewBox="0 0 910.000000 1280.000000"
          preserveAspectRatio="xMidYMid meet">
         <metadata>
         Created by potrace 1.15, written by Peter Selinger 2001-2017
         </metadata>
         <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)"
         fill="#000000" stroke="none">
         <path d="M3360 12790 c0 -5 -21 -145 -46 -312 -263 -1749 -693 -2985 -1437
         -4138 -132 -204 -293 -431 -601 -850 -531 -718 -654 -907 -840 -1280 -226
         -454 -346 -864 -412 -1410 -22 -180 -25 -646 -5 -820 110 -972 534 -1831 1312
         -2660 512 -546 1321 -1127 1795 -1289 l91 -31 392 0 c215 0 391 3 391 6 0 3
         -118 146 -263 317 -318 377 -424 512 -566 722 -361 532 -582 1003 -676 1440
         -47 219 -56 398 -29 600 56 433 171 683 560 1210 77 105 223 303 325 440 309
         418 464 648 666 990 300 507 562 1065 773 1645 29 80 57 149 61 154 9 10 190
         -155 462 -424 752 -740 1092 -1299 1307 -2144 94 -371 114 -517 114 -826 -1
         -471 -76 -951 -255 -1624 -177 -668 -401 -1300 -759 -2139 -82 -194 -150 -356
         -150 -360 0 -4 116 -7 257 -7 l257 0 201 152 c858 651 1419 1222 1882 1918
         531 798 828 1631 915 2565 19 203 16 736 -6 945 -117 1154 -533 2233 -1297
         3371 -873 1300 -2145 2535 -3834 3722 l-180 127 -202 0 c-124 0 -203 -4 -203
         -10z"/>
         </g>
         </svg>
          Near Me
        </a>

        <div>
          {% if flag == 0 %}
            {% if offer_count == 1 %}
            <h1>{{offer_count}} Offer Available</h1>
            {% else %}
            <h1>{{offer_count}} Offers Available</h1>
            {% endif %}
          {% elif flag == 1 %}
            {% if offer_count == 1 %}
            <h1>{{offer_count}} Recommendation Available</h1>
            {% else %}
            <h1>{{offer_count}} Recommendations Available</h1>
            {% endif %}
          {% elif flag == 2 %}
            {% if offer_count == 1 %}
            <h1>{{offer_count}} Favorite Available</h1>
            {% else %}
            <h1>{{offer_count}} Favorites Available</h1>
            {% endif %}
          {% endif %}
        </div>

        <a class="btn btn--main" href="{% url 'create-offer' %}">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <title>add</title>
            <path
              d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z"
            ></path>
          </svg>
          Create Offer
        </a>
      </div>
      {% if near_me_flag %}
      <div class="slidecontainer">
        <input type="range" min="1" max="100" value={{distance_filter}} class="slider" id="myRange">
        <span id='showRange'></span>
        <a class="btn btn--main" id="apply_distance" href="{% url 'feed-home' %}?q=near_me">apply</a>
      </div>
      {% endif %}
      {% if flag == 3 %}
        <script>
          document.getElementById('divr').innerHTML  = ''
        </script>
        {% include "feed/map.html" %}
      {%else%}
        {% include 'offer/feed_component.html' %}
      {%endif%}
      
    </div>

    {% include 'offer/activity_component.html' %}
  </div>
</main>
<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("showRange");
  var apply_distance = document.getElementById("apply_distance");
  output.innerHTML = slider.value; // Display the default slider value
  output
  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function() {
    output.innerHTML = this.value + 'km'; 
  } 
  slider.onchange = function() {
    var base_href = "{% url 'feed-home' %}?q=near_me"
    var new_href = base_href+'&d='+this.value;
    apply_distance.href = new_href
  }
</script>

{% endblock %}
